- scrap ||= @scrap

= fields_for :scrap, scrap do |sf|
  %h4
    = ""
      
  %h4
    =t :scrap_tags
    
  %ul.tagger
    - scrap.tags.each do |tag|
      %li.remove
        = sf.fields_for :tags, tag, :child_index => tag.id do |tf|
          = link_to tag.name, '#', :class => 'detag'
          = tf.hidden_field :_destroy, :class => 'destroy'

    %li.add{:rel => new_tagging_url(:scrap_id => @scrap.id)}
      %span.newtag
        = sf.fields_for :tags, scrap.tags.build do |tagf|
          = tagf.text_field :name, :rel => "add tag", :class => 'labelled', :autocomplete => 'off'
          = link_to t(:add), '#', :class => 'add_tag'
