= form_for @scrap do |f|
  #body
    .panel.image
      .dropbox{:rel => uploads_path(:format => :js)}
        .img
          - if @scrap.image_upload
            = link_to image_tag(@scrap.image.url(:cropped)), edit_upload_url(@scrap.image_upload, :scrap_id => @scrap.id), :class => 'recrop'
          - else 
            .nonie
              = link_to image_tag(@scrap.image.url(:cropped)), new_upload_url(:scrap_id => @scrap.id), :class => 'picker'
            .ie
              = image_tag(@scrap.image.url(:cropped))
        - unless @scrap.image?
          %p.instructions.nonie
            %span.droppable
              = t :image_note_drop
            = t(:image_note)
          %p.instructions.ie
            %br
            = t :image_note_ie

        %h2.waiter
          = t :please_wait

        .controls
          .cancel
            = link_to t(:cancel), '#'
            
        %p.file
          = file_field_tag :image_uploader, :class => 'file', :id => 'file_upload', :accept => "image"
    
    .panel.text
      = f.text_area :body, :rel => Scrap.human_attribute_name("body"), :class => 'labelled body'
    .panel.video
    .panel.audio
    .panel.document
  #caption
    .tabs
      = link_to t(:document), '#document', :class => 'unavailable', :'data-reveal' => '.document'
      = link_to t(:audio), '#audio', :class => 'unavailable', :'data-reveal' => '.audio'
      = link_to t(:video), '#video', :class => 'unavailable', :'data-reveal' => '.video'
      = link_to t(:text), '#text', :class => 'tab', :'data-reveal' => '.text'
      = link_to t(:image), '#image', :class => 'tab here', :'data-reveal' => '.image'
      = f.hidden_field :scrap_type, :class => 'tabbed', :value => @scrap.type
  
    #metadata
      %h2
        = f.text_field :name, :rel => Scrap.human_attribute_name("name"), :class => 'labelled name'
      %p
        = f.text_area :description, :rel => Scrap.human_attribute_name("description"), :class => 'labelled description'

      - if current_user.admin?
        %p
          = f.label :user_id
          %br
          = f.select :user_id, User.for_selection
    #tags
      = render 'tags/edit'
      
    .controls
      %p
        = f.submit t :save_scrap
