.scrap{:class => scrap.type}
  - if scrap.image?
    = image_tag(scrap.image.url(:list))
    %p.caption.hyphenated
      = strip_tags(scrap.body)
  - else
    %p.hyphenated{:style => "font-size: #{"%.2f" % scrap.text_size}em"}
      = strip_tags(scrap.body)
  = link_to '', scrap_url(scrap), :class => "scrap_link", :id => "scrap_#{scrap.id}"
