.scrap{:class => scrap.length}
  - if scrap.image?
    = image_tag(scrap.image.url(:list))
  - else
    - if scrap.length == 'text' || scrap.length == 'paragraph'
      %p.sweet-justice{:style => "font-size: #{"%.2f" % scrap.text_size}em"}
        = strip_tags(scrap.body)
    - else
      %p.sweet-hyphens{:style => "font-size: #{"%.2f" % scrap.text_size}em"}
        = strip_tags(scrap.body)
    
  = link_to '', scrap_url(scrap), :class => "scrap_link", :id => "scrap_#{scrap.id}"
