#scrap{:class => @scrap.type}
  #body
    - if @scrap.image?
      = image_tag @scrap.image.url(:cropped)
    
    - elsif @scrap.body?
      - cssclass = 'sweet-justice'
      - if @scrap.type == 'text' || @scrap.type == 'paragraph'
        %div.text.sweet-justice{:style => "font-size: #{"%.2f" % (@scrap.text_size * 2)}em"}
          = simple_format(@scrap.body)
      - else
        %div.text.sweet-hyphens{:style => "font-size: #{"%.2f" % (@scrap.text_size * 2)}em"}
          = simple_format(@scrap.body)
    
  #caption
    #reaction
      = render :partial => 'reactions/react', :@scrap => @scrap
    #metadata
      %h2
        = @scrap.name
      - if @scrap.description?
        = simple_format @scrap.description
          
      - if @scrap.created_by
        %p
          = t :uploaded_by
          = @scrap.created_by.forename

  #discussion
    #disqus_thread
