- scrap ||= @scrap

#scrap{:class => scrap.type}
  - if scrap.image?
    = image_tag scrap.image.url(:cropped)

  = simple_format(scrap.body)

#caption
  #metadata
    %h2
      = scrap.name
    %p
      = t :uploaded_by
      = scrap.created_by.forename
  #reaction
