#scrap{:class => @scrap.type}
  - if @scrap.image?
    = image_tag @scrap.image.url(:cropped)

  - if @scrap.body?
    %div{:style => "font-size: #{"%.2f" % (@scrap.text_size * 3)}em"}
      = simple_format(@scrap.body, :class => 'hyphenated')

#caption
  #reaction
    = render :partial => 'reactions/react', :@scrap => @scrap
  #metadata
    %h2
      = @scrap.name
    %p
      = t :uploaded_by
      = @scrap.created_by.forename
