!!!
%html{:lang => 'en'}
  %head
    %title
      = t(:scrapbook)
      - if content_for?(:pagetitle)
        âœ
        = content_for(:pagetitle)

    = stylesheet_link_tag "http://fast.fonts.com/cssapi/39788b9e-bfde-4f08-a9c5-5b2c08e0c676.css"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = content_for :head
    = csrf_meta_tags

%body
  #container
    #header
      %h1
        = link_to t(:scrapbook), "/"
      - if user_signed_in?
        #nav.navigation
          = render 'layouts/search_form'
          %p
            = link_to t(:latest), '/', :class => 'grid'
            = link_to t(:discussion), discussion_scraps_url, :class => 'discussion'
            = link_to t(:overview), reactions_url, :class => 'chart'
            = link_to t(:add_scrap), new_scrap_url, :class => 'add' unless current_user.passive_observer?
    
    #content
      = yield

    - if user_signed_in?
      #footer.navigation
        %p
          = t :signed_in_as, :name => current_user.name
          = link_to t(:invite), new_user_url, :class => 'invite'
          = link_to t(:preferences), edit_user_url(current_user), :class => 'preferences'
          = link_to t(:log_out), destroy_user_session_path, :class => 'logout', :method => :delete

    #colophon
      = t(:footer_info).html_safe


  #flashes
    %p.notice= notice
    %p.alert= alert

  :javascript
    var _gaq=[['_setAccount','UA-15051397-11'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
